:root {
  --bg-color: #080808;
  --second-bg-color: #131313;
  --text-color: white;
  --main-color: #00ffee;
}
body {
  background: var(--second-bg-color);
  color: var(--text-color);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 10% 4rem;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  background: var(--bg-color);
}

.navbar a {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-left: 6rem;
  margin-right: 6rem;

  transition: 0.3s eas;

  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}
span {
  font-size: 20px;
  font-weight: 1000;
  text-decoration: underline var(--main-color);
}
/*section*/
section {
  padding-top: 1.8%;
  min-height: 100vh;
}
h2 {
  padding-top: 60px;
  padding-bottom: 0;
  font-size: 2rem;
  text-align: center;
  margin: 5rem 0;
}
.portfolio {
  display: flex;
  flex-direction: row;
  align-items: normal;
  text-align: left;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  margin-bottom: 100px;
  margin-top: 2rem;
  margin-left: 60px;
  margin-right: 60px;
}
.portfolio p {
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1.8;
  max-width: 1000px;
}
.portfolio i {
  font-size: 60px;
  padding: 0;
  border: none;
  border-radius: 12%;
  box-shadow: 0 0 25px var(--main-color), 0 0 10px white;
  background-color: var(m);
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: 0.4s ease-in-out;
}
.portfolio a i {
  font-size: 20px;
  margin-left: 20px;
}
.portfolio i:hover {
  transform: scale(1.9);
}

.portfolio img {
  width: 50%;
  height: 50%;
  border-radius: 8px;
  box-shadow: 0 0 25px var(--main-color), 0 0 10px white;
  margin-right: 20px;
  margin-top: 25px;
}
.calculator {
  display: flex;
  flex-direction: row;
  align-items: normal;
  text-align: left;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  margin-bottom: 100px;
  margin-top: 2rem;
  margin-left: 60px;
  margin-right: 60px;
}
.calculator p {
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1.8;
  max-width: 1000px;
}
.calculator i {
  font-size: 60px;
  padding: 0;
  border: none;
  border-radius: 12%;
  box-shadow: 0 0 25px var(--main-color), 0 0 10px white;
  background-color: var(m);
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: 0.4s ease-in-out;
}
.calculator a i {
  font-size: 20px;
  margin-left: 20px;
}
.calculator i:hover {
  transform: scale(1.9);
}

.calculator img {
  width: 50%;
  height: 50%;
  border-radius: 8px;
  box-shadow: 0 0 25px var(--main-color), 0 0 10px white;
  margin-right: 20px;
  margin-top: 25px;
}
/*footer*/
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  background-color: var(--bg-color);
}
.footer .social {
  text-align: center;
  padding-bottom: 8px;
  color: var(--main-color);
}
.footer .social a {
  font-size: 25px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease-in-out;
}
.footer .social a:hover {
  transform: scale(1.2) translateY(-10px);
  background-color: var(--main-color);
  color: black;
  box-shadow: 0 0 25px var(--main-color);
}
.footer .copyright {
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
  color: white;
}
/*scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  width: 50px;
}
/*responsive*/
@media (max-width: 1300px) {
  .header {
  }
  .navbar a {
    margin-left: 4.5rem;
    margin-right: 4.5rem;
  }
}
@media (max-width: 1100px) {
  .header {
  }
  .navbar a {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .portfolio p {
    font-size: 1rem;
    font-weight: 300;
    max-width: 370px;
    margin-right: 5rem;
  }
  .portfolio i {
    margin-left: 50px;
  }
  .calculator p {
    font-size: 1rem;
    font-weight: 300;
    max-width: 370px;
    margin-right: 5rem;
  }
  .calculator i {
    margin-left: 50px;
  }
}
@media (max-width: 800px) {
  .navbar a {
    font-size: 1.1rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  .portfolio p {
    max-width: 400px;
    margin-right: 1rem;
  }
  .portfolio i {
    margin-left: 30px;
    font-size: 45px;
  }
  .portfolio img {
    width: 60%;
    height: 60%;
    margin-right: 5px;
    margin-left: 0rem;
  }
  .calculator p {
    max-width: 400px;
    margin-right: 1rem;
  }
  .calculator i {
    margin-left: 30px;
    font-size: 45px;
  }
  .calculator img {
    width: 60%;
    height: 60%;
    margin-right: 5px;
    margin-left: 0rem;
  }}
  
@media (max-width: 500px) {
  .navbar a {
    font-size: 0.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  h2 {
    padding-top: 8px;
    margin: 3rem 0;
  }
  .portfolio {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .portfolio img {
    width: 100%;
    height: 100%;
    margin-right: 1px;
  }
  .portfolio p {
    max-width: 100%;
    margin-right: 0.1rem;
    font-size: 0.9rem;
  }
  .calculator {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .calculator img {
    width: 100%;
    height: 100%;
    margin-right: 1px;
  }
  .calculator p {
    max-width: 100%;
    margin-right: 0.1rem;
    font-size: 0.9rem;
  }
}
@media (max-width: 325px) {
  .header {
    padding: 1rem 0.8rem;
  }

  .navbar a {
    font-size: 0.8rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  h2 {
    padding-top: 0.1rem;
    margin-bottom: 0;
    margin-top: 3rem;
    font-size: 1.6rem;;
  }
  
  .portfolio img {
    width: 140%;
    height: 140%;
  }
  .portfolio p {
    width: 15.5rem;
    margin-right: 0rem;
    font-size: 0.8rem;
  }
  .portfolio i {
    margin-left: 20px;
    font-size: 35px;
  }
  .calculator img {
    width: 140%;
    height: 140%;
  }
  .calculator p {
    width: 15.5rem;
    margin-right: 0rem;
    font-size: 0.8rem;
  }
  .calculator i {
    margin-left: 20px;
    font-size: 35px;
  }
  .footer {
    padding: 10px 0;
  }
  .footer .social {
    padding-bottom: 5px;
  }
  .footer .social a {
    font-size: 20px;
    width: 27px;
    height: 27px;
    line-height: 30px;
  }
  .footer ul {
    font-size: 8px;
  }
  .footer ul li {
    display: inline-block;
    padding: 0 5px;
  }
  .footer .copyright {
    margin-top: 5px;
    font-size: 10px;
  }
}